.new-emp-page {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.new-emp-form {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.input-label {
    display: flex;
    flex-flow: column;
}

.error {
    color: red;
}