.home-page {
    display: flex;
    flex-flow: column;
    margin-top: 100px;
    align-items: center;
}

.page-card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    outline: 1px solid black;
    width: 100%;
}