.employee-card {
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    align-items: center;

    & .delete:hover {
        color: red;
        cursor: pointer;
    }

    & .data {
        display: flex;
        justify-content: center;
        width: 8%;

        &.number {
            width: 3%;
        }

        &.email {
            font-size: small;
        }

        &.mobile {
            font-size: small;
        }
    }


}