.employees {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;

    display: flex;
    flex-flow: column;

    & .data-btns {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        margin-left: 60px;

        & button {
            display: flex;
            justify-content: center;
            width: 8%;

            &.number {
                width: 3%;
            }

            &.email {
                font-size: small;
            }

            &.mobile {
                font-size: small;
            }
        }




    }

    & .new-emp {
        width: 10%;
        align-self: flex-end;
    }
}