.employees {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;

    display: flex;
    flex-flow: column;

    & .new-emp {
        width: 10%;
        align-self: flex-end;
    }
}