.employee-list {
    margin-top: 20px;
}

.employees {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;

    display: flex;
    flex-flow: column;

    & .data-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-left: 30px;
        padding-left: 150px;
        background-color: rgba(205, 198, 198, 0.464);
        border-radius: 8px;

        & button {
            display: flex;
            justify-content: center;
            width: 10%;
            background-color: rgba(179, 179, 179, 0.308);
            border-radius: 0%;

            &:hover {
                background-color: rgba(122, 122, 255, 0.466);
            }


            &.email {
                font-size: small;
            }

            &.mobile {
                font-size: small;
            }
        }

    }

    & .new-emp {
        width: 10%;
        align-self: flex-end;

        background-color: rgba(54, 54, 190, 0.822);
        color: white;
    }
}

button {
    padding: 10px;
    border-radius: 10px;
    outline: 1px solid transparent;
    border: 1px solid transparent;

    &:hover {
        cursor: pointer;
    }
}